{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Crossword puzzle TDD exercise.">
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.1/css/bootstrap.css' %}">
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.5.1/js/bootstrap.js' %}"></script>
    <title>{% block title %}Crossword Exercise{% endblock %}</title>
  </head>

  <body>
  <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-md-4">
                {% block header %}
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <img src="{% static "images/logo.png" %}" width="10%" class="img-rounded" alt="Logo"> <strong>Timi Assesment</strong>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <a href="{% url 'xword-drill' %}" type="button" class="btn btn-danger">Try New Drill</a>
                            </div>
                        </div>
                    </div>
                {% endblock %}
                {% block content %}{% endblock %}
            </main>
        </div>
  </div>
  </body>
</html>
